body {
    margin: 0;
    font-size: 18px;
}

.bgheader {
    background-image: url(.//images/bg-hero-desktop.svg);
    background-size: 100%;
    background-color: hsl(193, 100%, 96%);
}

header .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    margin: 40px 0 40px 80px ;
}

header .button {
    background-color: white;
    padding: 10px 60px; 
    margin: 40px 80px 40px 0;
    border-radius: 50px; 
    box-shadow: 0px 0px 5px 1px  #EEE ;

}

header a {
    text-decoration: none;
}

header .text {
    color: hsl(192, 100%, 9%);
    font-family:'Poppins', sans-serif;
}

section .container {
    display: flex;
    justify-content: space-between;
    
}

section .text1, .text2 {
    font-family: 'Open Sans', sans-serif;
}

section .text1 h1 {
    width: 89%;
    font-size: 35px;
}

section .text2 p {
    padding-bottom: 20px;
}

.leftside {
    width: 513px;
    margin-left: 80px;
}

.rightside img{
    width: 100%;
    margin-left: 50px;
    margin-right: 80px;
    width: 700px;
    margin-bottom: 80px;
}

.leftside a {
    text-decoration: none;

    
}

.leftside .link .text {
    color: #fff;
    text-align: center;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    
    
}

.leftside .link {
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    width: 280px;
}

.widget {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px  #EEE ;
    margin-bottom: 30px;
    
}

.geral {
    width: 100%;
}

.widget .img,
.widget .text{
    display: flex;
    
}

.widget img {
    width: 375px;
    padding: 30px;
}

.widget .text {
    flex-direction: column;
    width: 483px;
    justify-content: center;
    padding-left: 100px;
    padding-right: 245px;
}

.widget .text h1 {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    margin: 0;
}

.widget .text p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
}

#mid {
    margin-top: 160px;
    margin-left: 80px;
    margin-right: 80px;
    
}

.widget_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px  #EEE ;
    margin-bottom: 30px;
}

.widget_reverse .text {
    flex-direction: column;
    width: 513px;
    justify-content: center;
    padding-right: 30px;
    
}

.widget_reverse img {
    width: 375px;
    padding-left:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 245px;
}

.widget_reverse .text h1 {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    margin: 0;
    
}

.widget_reverse .text p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
}

.widget_reverse .img,
.widget_reverse .text{
    display: flex;
    
}

aside {
    display: flex;
    justify-content:center;
    height: 260px;
}

aside .container {
    display: flex;
    margin-top: 130px;
    flex-direction: column;
    align-items: center;
    background-color: #Fff;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 50%;
    padding-bottom: 200px;
    
    
}

aside .title {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}

aside a {
    text-decoration: none;
}

aside .button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px;
    padding: 15px;
    width: 250px;
    text-align: center;
}


footer {
    background-color: hsl(192, 100%, 9%);
}

footer .container {
    display: flex;
    height: auto;
    padding-bottom: 60px;
    
}

footer .logo_huddle {
    padding-left: 80px;
    padding-top: 150px;
    padding-bottom: 10px;
}

footer .logo_huddle img {
    width: 150px;
}

footer .column1 {
    margin-left: 80px;
}

footer .column1 .logo img {
    width: 15px;
}

.column1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-right: 100px;

}

.column2 .link a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;

}

.column3 .link a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;

}

.column4 .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF;
}

.column4 a img {
    width: 15px;

}


.column1,
.column2,
.column3,
.column4 {
    display: flex;
    flex-direction: column;
    
}

.column4 {
    padding-right: 80px;
    align-items: flex-end;
    justify-content: space-between;
    
    
}

.column4 .logo {
    width: 270px;
    
   
}

.column4 .copy {
    width: 270px;
}


footer .location,
footer .tel,
footer .mail {
    display: flex;
    margin-bottom: 10px;

}


.column1,
.column4 {
    flex: 2;
}

.column2,
.column3 {
    align-items: center;
    flex: 1;
}

footer .location .logo,
footer .tel .logo,
footer .mail .logo {
    padding-right: 10px;
}


@media (max-width:1210px) {
    .bgheader section .container {
        flex-direction: column;
        align-items: center;   
    }

    .bgheader .rightside {
        margin-top: 100px;
    }

    .bgheader .leftside {
        margin: 0;
    }

    .leftside .text1 h1{
        text-align: center;
        width: 100%;
    }

    .leftside a {    
        display: flex;
        justify-content: center;
        
    }
}

@media (max-width:1150px) {
    
    .geral .widget
     {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .geral .widget_reverse {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }

    .geral .widget .text,
    .geral .widget_reverse .text{
        width: auto;
        padding: 0px;
        
    }

    .widget img {
        width:75%;
        padding: 0px;
        padding-bottom: 50px;
    }

    .widget .img {
        justify-content: center;
    } 

    .widget_reverse img {
        padding: 0px;
        width: 75%;
        padding-top: 50px; 
        
        
        
    }

    .widget .text {
        text-align: center;
        align-items: center;
        
    }

    .widget_reverse .text {
        text-align: center;
        align-items: center;
    
    }

    .widget_reverse .img {
        justify-content: center;
    }

    .widget .text .title {
        padding-top: 20px;
    }

    .widget .text .subtitle {
        width: 75%;
        padding-bottom: 30px;
    }

    .widget_reverse .text .subtitle {
        width: 75%;
        padding-bottom: 30px;
    }

    .widget_reverse .text .title {
        padding-top: 20px;
    }

    aside .container {
        width: 495px;
    }
}

@media (max-width:910px) {
    footer .container {
        flex-direction: column;
    }

    footer .column2,
    footer .column3 {
        align-items: flex-start;
        padding-left: 80px;
    }

    footer .column4 {
        padding: 0;
        align-items: center;
        padding-top: 30px;

    }

    footer .container {
        padding-bottom: 30px;
    }

    footer .column4 .logo {
        display: flex;
        justify-content: center;

    }

    footer .column4 .logo a img {
        padding: 5px;
    }
}


@media(max-width:850px) {

    header .button {
        margin-right: 0;
        
    }

    header .logo {
        margin-left: 0;
        padding-left: 10px;
    }

    header a {
        padding-right: 10px;
    }

    .rightside img {
        margin-left: 0;
        margin-right: 0;
        width: 65%
    }

    .bgheader .rightside {
        display: flex;
        justify-content: center;
    }
}


@media(max-width:625px) {
    
    #mid {
        margin-left: 10px;
        margin-right: 10px;
    }

    aside .title {
        font-size: 20px;
    }

    aside .button {
        padding: 13px;

    }


    aside .title {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    footer .column1{
        margin: 0;
        margin-left: 10px;
    }

    footer .column3,
    footer .column2
     {
        padding: 0;
        margin-left: 10px;
    
    }

    footer .logo_huddle {
        padding-left: 10px;
    }

    
}
  

@media(max-width:570px) {
    .bgheader .leftside {
        width: 90%
    }

    
}


@media(max-width:500px){
    aside .title {
        font-size: 16px;
    }

    aside .button {
        padding: 12px;

    }

    header .logo img {
         width: 150px;
    }

    header .button {
        padding: 4px 27px;
    }

    header .text {
        font-size: 16px;
    }
}

@media (max-width:450px) {
    
    
}